<h1>Editing Book</h1>

<%= form_with model:@book, local:true do |f| %>


 <% if @book.errors.any? %>
  <h3><%= @book.errors.count %>errors prohibited this book from being saved:</h3>
   <ul>
       <% @book.errors.full_messages.each do |message| %>
       <li><%= message %></li>
       <% end %>
   </ul>
  <% end %>


<h3>New book</h3>

<h5>Title</h5>
<%= f.text_field :title %>

<h5>body</h5>
<%= f.text_area :body %>

<div><%= f.submit 'Update Book ' %></div>

<% end %>

<div class="link"><%= link_to "show", book_path(@book) %></div>
<div class="link">|</div>
<div class="link"><%= link_to "back", books_path %></div>
